<div class="card-container">
    <div class="card text-center" >
        <div class="d-inline-flex justify-content-between">
            <i class="fa fa-th p-2 fa-2x" aria-hidden="true"></i>
            <i class="fa fa-bell p-2 fa-2x" aria-hidden="true"></i>
        </div>
        <div class="text-center img">
            <img class="card-img-top rounded-circle" src="../../../assets/School.jpg" alt="school">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center text-nowrap">مدرسة الوورود الاساسية</h5>
            <p class="text-center text-nowrap mb-4">____________________________________</p>
        
            <div class="text-center d-flex flex-column align-items-start justify-content-md-around ">
                <div class="d-flex flex-sm-row justify-content-md-between align-items-start mb-4">
                <button type="button" class="btn btn-primary px-3">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                    </button>
                    <div class="ml-auto mr-3 text-justify">
                        <p>اسم المدرسة</p>
                        <h6>الوورود الابتدائية</h6>
                    </div> 
                </div>
                <div class="d-flex flex-sm-row justify-content-md-between align-items-start mb-4">
                    <button type="button" class="btn btn-info px-3">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                    </button>
                    <div class="ml-auto mr-3 text-justify">
                        <p>عدد الصفوف</p>
                        <h6>233</h6>
                    </div> 
                </div>
                <div class="d-flex flex-sm-row justify-content-md-between align-items-start mb-4">
                    <button type="button" class="btn btn-warning px-3">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                    <div class="ml-auto mr-3 text-justify">
                        <p>المدير</p>
                        <h6>احمد ابو عجاج</h6>
                    </div> 
                </div>
            
            </div>
        </div>
    </div>
</div>