$bg-primary: #4d65db;
$font-primary: Nunito;
$text-primary: #1D3557;
$text-gray: #00000055;
$bg-gray: #F5F5F5;
$bg-shadow: #00000016;
$responsive-screen-width: 992px;
$transition-speed: .25s;
$screen-size: 1080px;
$primary-font: Nunito;
$secondary-font: montserrat;
$titles-font: 'Roboto Slab';
$font-primary: Roboto Slab;
$border-radius: 25px !default;
$project-dis-size: 27px;

